@import "html5reset-1.4.1.css";

body {
  background-color: #E3DBDD;
  font-family: "Didot", serif;
  color: #191919;
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
}
header {
  text-align: center;
}
header h1 {
  font-size: 200%;
/*  font-family: "Didot", serif;*/
}
section {
  margin: 30px 0px;
}
td, th {
  padding: 2px 5px;
}

th {
  text-align: left;
}

#page {  
  box-shadow:         1px 2px 3px 1px #232323;
  -moz-box-shadow:    1px 2px 3px 1px #232323;
  -webkit-box-shadow: 1px 2px 3px 1px #232323;
  background-color: #F9F7E7;
  padding: 35px 50px 50px 50px;  
/*  text-align: center;*/
  width: 680px;
/*  min-height: 600px;*/
  margin: 0 auto;
  margin-top: 10px;
}
#stimmen { 
}
#zyklus {
  min-height: 380px;
}


